<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Sarah Mancho</title>
</head>
<body>
<h1>About Me</h1>

<h2>Education</h2>
<p><strong>University</strong>: <em>University of Maryland College Park</em> (2021-2024)</p>
<table>
    <tr>
        <th>Course Name</th>
        <th>Semester Taken</th>
    </tr>
    <tr>
        <td>BMGT 302</td>
        <td>Fall 2022</td>
    </tr>
    <tr>
        <td>BMGT 402</td>
        <td>Fall 2023</td>
    </tr>
    <tr>
        <td>BMGT 407</td>
        <td>Spring 2024</td>
    </tr>
</table>
<!-- This a table of the few courses taken at my university.-->
<p><strong>High School</strong>: <em>Academy of Health Sciences @ Prince George's Community College</em> (2017-2021)</p>

<h2>Hometown</h2>
<p> I have never lived in one home for more than 5 years, but lived in Laurel, MD during my formal years of life.
    These are all the cities, I've ever lived in: </p>

<ol>
    <li>Hyattsville,MD</li>
    <li>Adelphi,MD</li>
    <li>Beltsville,MD</li>
    <li>Laurel, MD</li>
    <li>Glen Burnie, MD</li>
</ol>
<!-- This an alphabetical list of the cities I have lived in.-->
<h2>Hobbies</h2>
<ul>
    <li>Baking</li>
    <li>Reading</li>
    <li>Travelling</li>

</ul>

<p>The link to my HTML Hello page <a> href = "/hello"</a>.</p>
<p>A link to Bethel Campus Fellowship <a> href = "https://www.bethelcampusfellowship.com/" </a>.</p>
<p>A link to Terplink <a> href = " https://terplink.umd.edu/" target="_blank">forcing a new browser tab to open</a>.</p>

<img src= "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
<p> Here is an image of the Smith logo</p>

<!-- This is a collection of links to either my website or websites that I visit.-->
</body>
</html>
