{% extends "base.html" %}

{% block page_title %} Contact Me {% endblock %}

{% block page_head %} Contact Me {% endblock %}

{% block page_content %}

    {% if form_submitted %}
        <div class="col-12">
            <h2>Thank you for completing my form!</h2>
        </div>
        <div class="col-md-6">
            <p>First Name:</p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('firstName') }}</p>
        </div>
        <div class="col-md-6">
            <p>Last Name:</p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('lastName') }}</p>
        </div>
        <div class="col-md-6">
            <p>Email:</p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('email') }}</p>
        </div>
        <div class="col-md-6">
            <p>Phone Number:</p>
        </div>
        <div class="col-md-6">
            <p>{{ request.form.get('phoneNumber') }}</p>
        </div>
        <div class="col-md-6">
            <p>Agree to Be Contacted:</p>
        </div>
        <div class="col-md-6">
            <p>{{ 'Yes' if request.form.get('agree_check') else 'No' }}</p>
        </div>
           <p><a href="{{ url_for('contact') }}">Complete form again</a></p>
    {% else %}

     <form class= "row g-3" action="{{ url_for('contact') }}" method="post">
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName">
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName">
        </div>
        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="col-12">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="agree_check" name="agree_check">
                <label class="form-check-label" for="agree_check">
                    I agree to be contacted
                </label>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary"> Submit Form</button>
        </div>
     </form>
   {% endif %}

{% endblock %}