{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    <h2 id="specialHeader">Training</h2>
{% endblock %}

{% block page_content %}

    <!-- Add message provided by professor includes hyperlink of my email. -->

    <p>Welcome to your Training for the TerpSys Student Information System. Training materials are
    currently under construction, but will be created every soon! Please check back soon or
    email, Sarah Mancho at <a href='mailto:srhman@terpmail.umd.edu'> srhman@terpmail.umd.edu</a>
        if you wish to be placed on the waiting list.</p>


{% endblock %}
